@import '../../../shared/styles/colors';
@import '../../../shared/styles/media';
@import '../../../shared/styles/cursors';

.button {
  background-blend-mode: darken;
  border: 0;
  border-radius: 8px;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: $cursorPointer;
  display: flex;
  justify-content: center;
  align-items: center;

  // theme

  &_green {
    background: $greenGradient;

    &:hover {
      background: $greenHoverGradient;
    }

    &:active {
      background: $greenActiveGradient;
    }
  }

  &_dark-green {
    background: $darkGreenGradient;

    &:hover {
      background: $darkGreenHoverGradient;
    }

    &:active {
      background: $darkGreenActiveGradient;
    }
  }

  &_blue {
    background: $blueGradient;

    &:hover {
      background: $blueHoverGradient;
    }

    &:active {
      background: $blueActiveGradient;
    }
  }

  &_red {
    background: $redGradient;

    &:hover {
      background: $redHoverGradient;
    }

    &:active {
      background: $redActiveGradient;
    }
  }

  &_purple {
    background: $purpleGradient;

    &:hover {
      background: $purpleHoverGradient;
    }

    &:active {
      background: $purpleActiveGradient;
    }
  }

  // size

  &_landing {
    width: 250px;
    height: 48px;
  }

  &_slider {
    width: 164px;
    height: 48px;
  }

  &_order {
    width: 287px;
    height: 48px;
  }

  @include mobile() {
    width: 100%;
    border-radius: 0;
    height: 50px;
  }
}

.blocked {
  background: $gray;
}

// loader

.button__loader {
  display: none;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 50%;
  border-top: 3px solid $white;
  border-right: 3px solid $white;
  border-bottom: 3px solid $white;
  border-left: 3px solid transparent;
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
