@import '../../../../styles/colors';

.container {
  display: flex;
  flex-direction: column;

  .block {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: $black;
    }

    &__check-color {
      display: flex;
      text-transform: capitalize;
    }

    &__choose-date {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-right: 8px;
      }

      &_item {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin-top: 16px;
      }
    }
  }
}
