<div [formGroup]="formControl" class="container">
  <div class="block">
    <div class="block__text">Цвет</div>
    <div class="block__check-color">
      <app-radio-button
        formControlName="color"
        value="Любой"
        name="color"
      >
        Любой
      </app-radio-button>
      <app-radio-button *ngFor="let color of colors$ | async"
        formControlName="color"
        [value]="color"
        name="color">
        {{ color }}
      </app-radio-button>
    </div>
  </div>

  <div class="block">
    <div class="block__text">Дата аренды</div>
    <div class="block__choose-date">
      <div class="block__choose-date_item">
        <div class="text">С</div>
        <app-datepicker formControlName="dateFrom"></app-datepicker>
      </div>
      <div class="block__choose-date_item">
        <div class="text">По</div>
        <app-datepicker formControlName="dateTo"></app-datepicker>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block__text">Тариф</div>
    <div class="block__check-payment">
      <app-radio-button
        *ngFor="let tariff of tariffs$ | async"
        formControlName="rateId"
        [value]="tariff"
        name="rateId"
      >
        {{ tariff.rateTypeId.name }}, {{ tariff.price }} ₽/{{tariff.rateTypeId.unit}}
      </app-radio-button>
    </div>
  </div>

  <div class="block">
    <div class="block__text">Доп услуги</div>
    <div class="block__check-option">
      <app-checkbox formControlName="isFullTank">Полный бак, 500р</app-checkbox>
      <app-checkbox formControlName="isNeedChildChair">Детское кресло, 200р</app-checkbox>
      <app-checkbox formControlName="isRightWheel">Правый руль, 1600р</app-checkbox>
    </div>
  </div>
</div>
