@import '../../../../shared/styles/colors';

.container {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: $gray;

  .radio-button {
    margin: 0;
    width: 10px;
    height: 14px;

    &:after {
      color: #0b934a;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: $white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $gray;
    }

    &:checked:after {
      width: 13px;
      height: 13px;
      border: none;
      background-image: url("../../../../../assets/img/icons/radio-button.svg");
    }

    &:checked + .label {
      color: $black;
    }
  }

  .label {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-left: 10px;
  }
}
