<div class="container">
  <button class="button__control prev" (click)="prev()">
    <span class="button__background"></span>
    <img class="button__control_img" src="/assets/img/icons/prev.svg" alt="">
  </button>

  <div class="list" [style.transform]="getTransform()">

    <div class="slide">
      <img src="/assets/img/slider/slide-1.png" alt="">
      <div class="slide__gradient"></div>
      <div class="slide-content">
        <div class="slide-content__title">Бесплатная парковка</div>
        <div class="slide-content__text">Оставляйте машину на платных городских парковках
          и разрешенных местах, не нарушая ПДД, а также в аэропортах.</div>
        <app-button theme="dark-green" size="slider">Подробнее</app-button>
      </div>
    </div>

    <div class="slide">
      <img src="/assets/img/slider/slide-2.png" alt="">
      <div class="slide__gradient"></div>
      <div class="slide-content">
        <div class="slide-content__title">Страховка</div>
        <div class="slide-content__text">Полная страховка страховка автомобиля</div>
        <app-button theme="blue" size="slider">Подробнее</app-button>
      </div>
    </div>

    <div class="slide">
      <img src="/assets/img/slider/slide-3.png" alt="">
      <div class="slide__gradient"></div>
      <div class="slide-content">
        <div class="slide-content__title">Бензин</div>
        <div class="slide-content__text">Полный бак на любой заправке города за наш счёт</div>
        <app-button theme="red" size="slider">Подробнее</app-button>
      </div>
    </div>

    <div class="slide">
      <img src="/assets/img/slider/slide-4.png" alt="">
      <div class="slide__gradient"></div>
      <div class="slide-content">
        <div class="slide-content__title">Обслуживание</div>
        <div class="slide-content__text">Автомобиль проходит еженедельное ТО</div>
        <app-button theme="purple" size="slider">Подробнее</app-button>
      </div>
    </div>

  </div>

  <button class="button__control next" (click)="next()">
    <span class="button__background"></span>
    <img class="button__control_img" src="/assets/img/icons/next.svg" alt="">
  </button>

  <div class="slider-dots">
    <div class="dot" [class.dot_active]="currentSlide === 1" (click)="openSlide(1)"></div>
    <div class="dot" [class.dot_active]="currentSlide === 2" (click)="openSlide(2)"></div>
    <div class="dot" [class.dot_active]="currentSlide === 3" (click)="openSlide(3)"></div>
    <div class="dot" [class.dot_active]="currentSlide === 4" (click)="openSlide(4)"></div>
  </div>
</div>
