<div class="container">
  <div class="details">
    <div class="details__model details__position">Hyndai, i30 N</div>
    <div class="details__car-number details__position">K 761 HA 73</div>
    <div class="details__option">
      <div class="details__option_item details__position">
        <div class="text">Топливо</div>
        <div class="value">100%</div>
      </div>
      <div class="details__option_item details__position">
        <div class="text">Доступна с</div>
        <div class="value">12.06.2019 12:00</div>
      </div>
    </div>
  </div>
  <div class="img">
    <img src="./assets/img/order/car-hyndai.jpg">
  </div>
</div>

<div class="confirm-order" style="display: none">
  <div class="confirm-order__title">Подтвердить заказ</div>
  <div class="confirm-order__button">
    <app-button theme="green" size="slider" class="button">Подтвердить</app-button>
    <app-button theme="red" size="slider">Вернуться</app-button>
  </div>
</div>
