<div class="container" *ngIf="order$ | async as order">
  <div class="details">
    <div class="details__model details__position">{{ order.carId.name }}</div>
    <div class="details__car-number details__position">
      {{ order.carId.number ? order.carId.number : 'Номер машины будет отправлен по смс' }}
    </div>
    <div class="details__option">
      <div class="details__option_item details__position">
        <div class="text">Топливо</div>
        <div class="value" *ngIf="!order.isFullTank">{{ order.carId.tank }}%</div>
        <div class="value" *ngIf="order.isFullTank">100%</div>
      </div>
      <div class="details__option_item details__position">
        <div class="text">Доступна с</div>
        <div class="value">{{ order.dateFrom | date: 'dd.MM.yyyy HH:mm'}}</div>
      </div>
    </div>
  </div>
  <div class="img">
    <img src="{{ order.carId.thumbnail.path }}" appImgFallback="./assets/img/order/none-photo.jpg">
  </div>
  <router-outlet></router-outlet>
</div>
