<div class="container">
  <div class="title">Ваш заказ:</div>
  <div class="detail">
    <ng-container *ngIf="order$ | async as order">
      <div class="detail__item" *ngIf="order.pointId || order.cityId">
        <div class="detail__item_name">Пункт выдачи</div>
        <div class="detail__item_points"></div>
        <div class="detail__item_choose">
          <div>{{ order.cityId }} {{ order.pointId }}</div>
        </div>
      </div>
    </ng-container>
    <div class="price">
      <div class="price__title">Цена:</div>
      <div class="price__sum">16 000 ₽</div>
    </div>
    <app-button
      theme="green"
      (click)="goToNextStep()"
    >
      {{ titleButton() }}
    </app-button>
  </div>
</div>
