@import '../../../styles/colors';
@import '../../../styles/media';

.container {
  padding: 32px 0 0 32px;
}

.title {
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.detail {
  margin-top: 10px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;

    &_name {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      margin-right: 10px;
    }

    &_points {
      flex: 1;
      border-bottom: 2px dotted $gray;
      background-repeat: repeat;
    }

    &_choose {
      font-weight: 300;
      text-align: right;
      font-size: 14px;
      line-height: 16px;
      margin-left: 10px;
      max-width: 101px;
      color: $gray;
    }
  }
}

.price {
  display: flex;
  margin: 32px 0;

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__sum {
    font-size: 16px;
  }
}

@include tablet() {
  .container {
    padding: 0;
    margin: 32px 0 60px;
  }

  .title {
    text-align: center;
  }
}

@include mobile() {
  .container {
    padding: 0;
    margin: 32px 0 60px;
  }

  .title {
    text-align: center;
  }
}
