@import '../../../../styles/media';
@import '../../../../styles/colors';

.filter {
  display: flex;
  margin-top: 32px;
}

.block-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}


.block-loader {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  background-color: $grayLight;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .loader {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border-top: 3px solid $gray;
    border-right: 3px solid $gray;
    border-bottom: 3px solid $gray;
    border-left: 3px solid transparent;
    animation: rotate 1.3s linear infinite;
  }
}


@include tablet() {
  .filter {
    justify-content: center;
  }

  .block-cards {
    justify-content: center;
    margin: 40px 0 0 0;
  }
}

@include mobile() {
  .filter {
    justify-content: center;
  }

  .block-cards {
    justify-content: center;
    margin: 32px 0 0 0;
  }
}
