<div class="filter">
  <app-radio-button [formControl]="price" value="all" name="car-filter">Все модели</app-radio-button>
  <app-radio-button [formControl]="price" value="economic" name="car-filter">Эконом</app-radio-button>
  <app-radio-button [formControl]="price" value="premium" name="car-filter">Премиум</app-radio-button>
</div>

<div class="block-cards">
  <app-car-card
    *ngFor="let car of cars$ | async"
    [active]="car.id === selectedCarId"
    [car]="car"
    (checkCard)="chooseCar(car.id)">
  </app-car-card>
</div>
