<div class="filter">
  <app-radio-button
    *ngFor="let category of categories"
    [formControl]="categoryControl"
    [value]="category.id"
    name="car-filter">
    {{ category.name }}
  </app-radio-button>
</div>

<ng-container *ngIf="isLoading() | async">
  <div class="block-loader">
    <div class="loader"></div>
  </div>
</ng-container>


<div class="block-cards">
  <app-car-card
    *ngFor="let car of cars$ | async"
    [active]="car.id === selectedCarId"
    [car]="car"
    (checkCard)="chooseCar(car.id)">
  </app-car-card>
</div>

