@import '../../../styles/colors';
@import '../../../styles/media';

.container {
  position: relative;

  .input {
    border: none;
    border-bottom: 1px solid $grayLight;
    width: 224px;
    height: 16px;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
  }

  .field-clear {
    position: absolute;
    padding: 6px;
    right: 0;
  }
}

@include mobile() {
  .container {
    .input {
      max-width: 224px;
      width: 100%;
    }

    .field-clear {
      bottom: 2px;
    }
  }
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

