@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/media';

.card-car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $grayLight;
  width: 336px;
  height: 192px;
  padding: 16px;

  &:active {
    border: 1px solid $mainAccent;
  }

  &__model {
    font-weight: 400;
    font-size: 18px;
    color: $black;
  }

  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
  }

  &__img {
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 256px;
      max-height: 116px;
    }
  }
}

.active {
  border: 1px solid $mainAccent;
}

@include desktop() {
  .card-car {
    &:hover {
      border: 1px solid $gray;
    }
  }
}

@include desktop-min() {
  .card-car {
    &:hover {
      border: 1px solid $gray;
    }
  }
}

@include tablet() {
  .card-car {
    height: 154px;
    width: 268px;

    &__img {
      img {
        max-width: 209px;
        max-height: 93px;
      }
    }
  }
}

@include mobile() {
  .card-car {
    height: 154px;
    width: 268px;

    &__img {
      img {
        max-width: 209px;
        max-height: 93px;
      }
    }
  }
}
