<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__item_link active">Местоположение</a>
      <img class="breadcrumbs__item_img" src="./assets/img/icons/arrow.svg">
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__item_link">Модель</a>
      <img class="breadcrumbs__item_img" src="./assets/img/icons/arrow.svg">
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__item_link">Дополнительно</span>
      <img class="breadcrumbs__item_img" src="./assets/img/icons/arrow.svg">
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__item_link">Итого</span>
    </li>
  </ul>
</div>
