<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item" *ngFor="let item of items; let last = last">
      <a (click)="item.linkHandler()"
         class="breadcrumbs__item_link cursor-pointer"
         [class.no-pointer]="!isCompletedStep(item.step)"
         [class.filled]="isCompletedStep(item.step)"
         [class.active]="activeStep === item.step"
      >
        {{ item.title }}
      </a>
      <img *ngIf="!last" class="breadcrumbs__item_img" src="./assets/img/icons/arrow.svg">
    </li>
  </ul>
</div>
