@import '../../../styles/colors';

.container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
  user-select: none;

  .checkbox {
    margin: 0;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + .label {
      color: $black;
    }

    &:checked ~ .check-mark {
      border-color: $mainAccent;
    }

    &:checked ~ .check-mark:after {
      display: block;
    }
  }

  .check-mark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: $white;
    border: 1px solid $gray;

    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 5px;
      display: none;
      width: 5px;
      height: 10px;
      border: solid $black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .check-mark {
    border-color: $mainAccent;
  }

  .label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $gray;
    margin-left: 20px;
  }
}
