<div class="position">
  <app-menu></app-menu>
  <div class="main">
    <div class="header">
      <app-header></app-header>
    </div>
    <app-breadcrumb *ngIf="activeStep; else orderNumber"></app-breadcrumb>
    <ng-template #orderNumber>
      <app-order-complete-number></app-order-complete-number>
    </ng-template>
    <div class="content">
      <div class="content__step">
        <div class="content__step_left">
          <router-outlet></router-outlet>
        </div>
        <div class="content__step_right">
          <app-details-order></app-details-order>
        </div>
      </div>
    </div>
  </div>
</div>
