@import '../../../styles/media';
@import '../../../styles/colors';

.position {
  display: grid;
  height: 100%;
  grid-template-columns: 64px 1fr;

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      max-width: 1250px;
      width: 100%;
      margin: 0 auto 32px;
    }

    .content {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      &__step {
        display: flex;
        justify-content: space-between;
        max-width: 1250px;
        width: 100%;

        &_left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &_right {
          display: flex;
          align-content: flex-start;
          border-left: 1px solid $grayLight;
        }
      }
    }
  }
}

@include desktop-min() {
  .position {
    grid-template-columns: 64px 1fr;

    .main {
      .header {
        width: auto;
        margin: 32px 64px;
      }

      .content {
        height: 100%;

        &__step {
          margin: 0 64px;

          &_left {

            .img {
              max-width: 500px;
              max-height: 240px;
            }
          }
        }
      }
    }
  }
}

@include tablet() {
  .position {
    grid-template-columns: 86px 1fr;

    .main {

      .header {
        width: auto;
        margin: 0 64px 32px;
      }

      .content {
        &__step {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &_left {

            .img {
              max-width: 500px;
            }
          }

          &_right {
            border-left: none;
          }
        }
      }
    }
  }
}

@include mobile() {
  .position {
    grid-template-columns: 0 1fr;

    .main {
      .header {
        margin: 0;
        padding-bottom: 16px;
      }

      .content {
        &__step {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin: 0 10px;

          &_left {

            .img {
              max-width: 500px;
              min-width: 300px;
              width: 100%;
            }
          }

          &_right {
            border-left: none;
          }
        }
      }
    }
  }
}

