@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/media';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 64px;
}

.application {
  display: flex;
  flex-direction: column;

  &__text_bold {
    color: $black;
    font-size: 70px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__text_logo {
    color: $mainAccent;
    font-size: 70px;
    line-height: 65px;
    font-weight: 700;
  }

  &__text_light {
    color: $gray;
    font-size: 26px;
    line-height: 31px;
    margin: 34px 0 75px 0;
  }
}

@include mobile() {
  .container {
    padding: 0;
  }

  .application {
    margin-top: 33px;
    margin-bottom: auto;

    &__block-text {
      margin-left: 16px;
    }

    &__text_bold {
      font-size: 32px;
      line-height: 32px;
    }

    &__text_logo {
      font-size: 32px;
      line-height: 32px;
    }

    &__text_light {
      font-size: 18px;
      line-height: 21px;
      margin: 16px 0 32px 0;
    }
  }
}
