@import './assets/fonts/roboto/stylesheet.css';

body {
  margin: 0;
  font-family: Roboto;
  height: 100%;
  cursor: url('./assets/img/icons/cursor.svg'), default;
}

.cursor-pointer {
  cursor: url('./assets/img/icons/cursor-pointer.svg'), pointer;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}
