<div class="container">
  <div class="header">
    <div class="header__logo">Need for drive</div>
    <div class="header__logo_city">
      <img src="/assets/img/icons/map.svg" alt="">
      <div class="header__logo_city_name">Ульяновск</div>
    </div>
  </div>

  <div class="application">
    <div class="application__block-text">
      <div class="application__text_bold">Каршеринг</div>
      <div class="application__text_logo">Need for drive</div>
      <div class="application__text_light">Поминутная аренда авто твоего города</div>
    </div>
    <app-button theme="green" size="landing" class="button">Забронировать</app-button>
  </div>

  <app-footer></app-footer>
</div>

