@import "../../../shared/styles/colors";
@import "../../../shared/styles/media";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 64px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;

  .header__logo {
    color: $mainAccent;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  .header__logo_city {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header__logo_city_name {
      color: $gray;
      margin-left: 6px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
  }
}

.application {
  display: flex;
  flex-direction: column;

  .application__text_bold {
    color: $black;
    font-size: 70px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .application__text_logo {
    color: $mainAccent;
    font-size: 70px;
    line-height: 65px;
    font-weight: 700;
  }

  .application__text_light {
    color: $gray;
    font-size: 26px;
    line-height: 31px;
    margin: 34px 0 75px 0;
  }
}

@include mobile() {
  .container {
    padding: 0;

    .header {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 16px;

      .header__logo {
        margin-right: 16px;
      }

      .header__logo_city {
        margin-right: 16px;
      }
    }
  }

  .application__block-text {
    margin-left: 16px;

    .application__text_bold {
      font-size: 32px;
      line-height: 32px;
    }

    .application__text_logo {
      font-size: 32px;
      line-height: 32px;
    }

    .application__text_light {
      font-size: 18px;
      line-height: 21px;
      margin: 16px 0 32px 0;
    }
  }
}

